#Calculator{
    display: grid;
    box-sizing: border-box;
    border: 1px solid blue;
    justify-content: center;
}

button {
    margin: 0.25em;
    aspect-ratio: 1;
    height: 25px
}

.row{
    border: solid green 1px;
    max-width: 200px;
}