.main{
    width: 100%;
    box-sizing: border-box;
}

#Calculator{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 175px;
    border: 10px solid gray;
}

.row{
    display: flex;
}

button{
    flex-basis: 1;
    padding: 4px;
    justify-content: center;
    border: 1px solid black;
}


#a0{
    flex-basis: 33%;
    box-sizing: border-box;
}
